<div class="card">
  <div class="card-image">
    <img
      [routerLink]="['/dishes', item.id]"
      scaleOnHover
      [src]="item.imgUrl"
      [alt]="item.title + ' image'"
    >
  </div>
  <div class="card-content">
    <h1 class="title">{{ item.title }}</h1>
    <p class="description">{{ item.description }}</p>
    <div class="stats">
      <div class="stats-item">
        <img class="stats-icon" src="icons/TimeIcon.svg" alt="">
        <h2 class="stats-title">{{ item.cookingTime }} mins</h2>
      </div>
      <div class="stats-item">
        <img class="stats-icon" src="icons/CookingHatIcon.svg" alt="">
        <h2 class="stats-title">{{ item.complexity }}</h2>
      </div>
      <div class="stats-item">
        <img class="stats-icon" src="icons/PeopleIcon.svg" alt="">
        <h2 class="stats-title">{{ item.servingFor }} servings</h2>
      </div>
    </div>
    <div class="line"></div>
    <div class="ingredients">
      <h2 class="ingredients-title">Key ingredients:</h2>
      <div
        class="ingredients-list"
        *ngIf="item.ingredients | ingredientsList as ingredients"
      >
        <div
          class="ingredient"
          *ngFor="let ingredient of ingredients.visible"
        >
          {{ ingredient }}
        </div>
        <div
          class="ingredient leftIngredients"
          *ngIf="ingredients.restCount > 0"
        >
          +{{ ingredients.restCount }} more
        </div>
      </div>
    </div>
    <button
      class="view-recipe-button"
      scaleOnHover
      [routerLink]="['/dishes', item.id]"
    >View Recipe</button>
  </div>
</div>
