<div class="card">
  <div class="card-image">
    <img src="images/CardImg.png" alt="">
  </div>
  <div class="card-content">
    <h1 class="title">Classic Margherita Pizza</h1>
    <p class="description">A traditional Italian pizza with fresh mozzarella, tomatoes, and basil on a crispy thin crust.</p>
    <div class="stats">
      <div class="stats-item">
        <img class="stats-icon" src="icons/TimeIcon.svg" alt="">
        <h2 class="stats-title">25 mins</h2>
      </div>
      <div class="stats-item">
        <img class="stats-icon" src="icons/CookingHatIcon.svg" alt="">
        <h2 class="stats-title">Easy</h2>
      </div>
      <div class="stats-item">
        <img class="stats-icon" src="icons/PeopleIcon.svg" alt="">
        <h2 class="stats-title">4 servings</h2>
      </div>
    </div>
    <div class="line"></div>
    <div class="ingredients">
      <h2 class="ingredients-title">Key ingredients:</h2>
      <div class="ingredients-list">
        <div class="ingredient">Pizza Dough</div>
        <div class="ingredient">Tomato Sause</div>
        <div class="ingredient">Mozzarella</div>
        <div class="ingredient">Fresh Basil</div>
      </div>
    </div>
    <button class="button">View Recipe</button>
  </div>
</div>
