.card-details {
  position: relative;
  width: 768px;
  display: flex;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 2px 4px #E5E7EB;
  overflow: hidden;
}

.card {
  width: 50%;
  height: fit-content;
  overflow: hidden;
  background: #ffffff;
}

.card-image {
  height: 192px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  height: 32px;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  color: #111827;
}

.description {
  height: 40px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #4B5563;
  white-space: pre-line;
  text-wrap: wrap;
}

.stats {
  margin-top: 8px;
  height: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.stats-icon {
  width: 16px;
  height: 16px;
}

.stats-title {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #374151;
}

.line {
  margin-top: 8px;
  border-top: 1px solid #b7b8ba;
}

.ingredients {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ingredients-title {
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  color: #111827;
}

.ingredients-list {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.ingredient {
  padding-inline: 12px;
  height: 24px;
  border-radius: 8px;
  align-content: center;
  background: #FFF7ED;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  color: #C2410C;
}

.recipe {
  width: 50%;
  padding-block: 48px;
  padding-inline: 32px;
  box-sizing: border-box;
}

.recipe .description {
  font-size: 17px;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F97316;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

