.main {
  padding-block: 32px;
  min-height: calc(100vh - 128px);
  height: fit-content;
  background: #FFF7ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
